@media screen and (max-width: 1200px)
  .container
    max-width: 976px

  .intro
    &__content
      padding: 30px

    &__title
      font-size: 56px

    &__subtitle
      gap: 36px

    &__image
      width: 274px
      height: 198px

  .opportunity__image
    left: -10px

  .subscribe
    &__image
      top: -150px
      right: -50px
      width: 486px
      height: 348px

@media screen and (min-width: 992px)
  .burger__menu
    display: none

@media screen and (max-width: 992px)
  .container
    max-width: 668px
    padding: 0

  .header__nav
    display: none

  .intro
    &__container
      gap: 12px

    &__title
      font-size: 36px

    &__subtitle
      gap: 24px

    &__subtitle-text
      font-size: 16px

    &__btn
      gap: 41px

    &__button
      width: 150px
      padding: 10px 13px
      font-size: 16px
      letter-spacing: 0.8px

  .play
    width: 20px
    height: 20px
    margin-right: 2px

  .info
    &__block
      flex-direction: column
      padding: 37px 30px
      gap: 20px

    &__line
      width: 100%
      height: 4px

    &__stat
      gap: 150px

  .cooment
    &__info
      &-text
        font-size: 18px

  .opportunities
    flex-direction: column

  .opportunity
    margin-top: 49px
    width: 565px
    height: 265px

    &:nth-child(odd)
      background-image: url("../img/big-rectangle-1.svg")
      background-repeat: no-repeat

    &:nth-child(even)
      background-image: url("../img/big-rectangle-2.svg")
      background-repeat: no-repeat

    &__info
      padding: 68px 175px 68px 30px

    &__image
      top: -50px
      left: 350px

  .gallery
    &__container
      margin-top: 49px

  .photos
    margin-top: 62px
    grid-template-columns: repeat(2, 1fr)

  .gradient
    &:nth-child(1)
      grid-row: 1
      grid-column: 1

    &:nth-child(2)
      grid-row: 2
      grid-column: 1

    &:nth-child(3)
      grid-row: 1 / span 2
      grid-column: 2

    &:nth-child(4)
      grid-row: 3
      grid-column: 1

    &:nth-child(5)
      grid-row: 3
      grid-column: 2

  .subscribe
    &__container
      margin-top: 243px
    &__image
      top: -250px
      right: 10px

  .opportunities
    &__title, &__subtitle
      width: 668px

  .footer
    &__info
      flex-direction: column
      margin-top: 16px
      gap: 31px
    &__list
      width: 100%

@media screen and (max-width: 778px)
  .container
    width: 95%

  .title
    font-size: 36px

  .subscribe
    &__info
      padding: 60px 44px 34px 40px

    &__title
      margin-top: 11px

    &__form
      margin-top: 22px
