$bgColor: #1A173D
$mainColor: #E25300
$white: #fff
$purple: #5133A6

*
  box-sizing: border-box
  cursor: url("../img/cursor-image.svg"), auto

body
  background-color: $bgColor
  color: $white
  font-family: 'Righteous', sans-serif

.container
  padding: 0 40px
  margin: 0 auto
